<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997352331196-gbgt74f1kvfgpsceli778vl7cihcfdmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997352331196-gbgt74f1kvfgpsceli778vl7cihcfdmk</string>
	<key>API_KEY</key>
	<string>AIzaSyCzpMzobQlZuR4mKjgorRP8Do1obXzBVfE</string>
	<key>GCM_SENDER_ID</key>
	<string>997352331196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gq.bdelivery.app.demorestaurant</string>
	<key>PROJECT_ID</key>
	<string>restaurante-de-teste-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurante-de-teste-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997352331196:ios:95a9f02e49c74f4f</string>
	<key>DATABASE_URL</key>
	<string>https://restaurante-de-teste-v2.firebaseio.com</string>
</dict>
</plist>